name: Deploy static site and Docker

on:
  release:
    types: [published]

permissions:
  contents: read
  packages: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}   # ← ТВОЙ СЕКРЕТ
          script: |
            echo "=====  деплой статического сайта через systemd ====="
            cd /home/***/myapp

            echo "Обновляем git..."
            git fetch origin
            git reset --hard origin/github-actions

            echo "Рестартуем systemd сервис myapp..."
            sudo -n systemctl restart myapp

            echo "Проверяем статус:"
            sleep 2
            sudo -n systemctl status myapp  echo "WARNING: systemd status не удалось получить"

            echo "Проверяем сайт на порту 8181..."
            curl -f http://localhost:8181  echo "Сервис 8181 не отвечает"

            echo "Проверяем домен ."
            curl -f http://app.artanov.course.prafdin.ru  echo "Домен не отвечает"

            echo "===== деплой Docker-контейнера ====="

            IMAGE="ghcr.io/vartanchik12/devops/mysite:lab3"
            CONTAINER_NAME="mysite-lab3"
            HOST_PORT=8282

            echo "Логинимся в GHCR..."
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.repository_owner }}" --password-stdin

            echo "Тянем последний образ..."
            docker pull "$IMAGE"

            echo "Останавливаем старый контейнер (если есть)..."
            docker stop "$CONTAINER_NAME"  echo "Контейнер не был запущен"

            echo "Удаляем старый контейнер (если есть)..."
            docker rm "$CONTAINER_NAME"  echo "Контейнер отсутствует"

            echo "Запускаем новый Docker-контейнер..."
            docker run -d \
              --name "$CONTAINER_NAME" \
              -p ${HOST_PORT}:80 \
              --restart=always \
              "$IMAGE"

            echo "Проверяем доступность Docker-сайта..."
            sleep 2
            curl -f http://localhost:${HOST_PORT}  echo "Docker сайт не отвечает"

            echo "===== Деплой  полностью завершён ====="
