name: CD - Deploy via Docker Compose

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PROXY_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Stopping old systemd version..."
            sudo systemctl stop myapp || true
            sudo systemctl disable myapp || true

            echo "Logging into GHCR..."
            echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

            echo "Pulling latest image..."
            docker pull ghcr.io/vartanchik12/myapp:latest

            echo "Fetching latest repo..."
            cd /home/vboxuser/myapp
            git fetch --all
            git reset --hard origin/docker-lab4

            echo "Deploying via Docker Compose..."
            docker compose down || true
            docker compose up -d --pull always

            echo "Checking app..."
            curl -f http://localhost:8181 || echo "Application might not be ready"

