- name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo "Начинаем деплой статического сайта ..."

            cd /home/***/myapp

            echo "Загружаем обновления..."
            git fetch origin
            git reset --hard origin/github-actions

            echo "Перезапускаем веб-сервер (systemd myapp)..."
            sudo -n systemctl restart myapp

            echo "Проверяем статус сервиса myapp:"
            sleep 2
            sudo -n systemctl status myapp  echo "WARNING: статус сервиса вернуть не удалось"

            echo "Деплой Лабы 2 завершен!"
            echo "Развернутые файлы:"
            ls -la

            echo "Проверка доступности сервиса на порту 8181:"
            curl -f http://localhost:8181  echo "Сервис на 8181 не отвечает"

            echo "Проверка доступности по домену (Лаба 2):"
            curl -f http://app.artanov.course.prafdin.ru  echo "Сайт по домену не отвечает"
            echo "Сайт доступен по: http://app.artanov.course.prafdin.ru"

            
            # 3
            
            echo "-----"
            echo "Начинаем деплой Docker-контейнера ..."

            IMAGE="ghcr.io/vartanchik12/devops/mysite:lab3"
            CONTAINER_NAME="mysite-lab3"
            HOST_PORT=8282

            echo "Логинимся в GitHub Container Registry..."
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.repository_owner }}" --password-stdin

            echo "Тянем свежий образ: $IMAGE"
            docker pull "$IMAGE"

            echo "Останавливаем старый контейнер (если есть)..."
            docker stop "$CONTAINER_NAME"  echo "Контейнер $CONTAINER_NAME не был запущен"

            echo "Удаляем старый контейнер (если есть)..."
            docker rm "$CONTAINER_NAME"  echo "Контейнер $CONTAINER_NAME не найден"

            echo "Запускаем новый контейнер..."
            docker run -d \
              --name "$CONTAINER_NAME" \
              -p ${HOST_PORT}:80 \
              --restart=always \
              "$IMAGE"

            echo "Проверяем доступность Docker-контейнера на http://localhost:${HOST_PORT}"
            sleep 2
            curl -f "http://localhost:${HOST_PORT}"  echo "Docker-контейнер на порту ${HOST_PORT} не отвечает"

            echo "Деплой завершен Контейнер слушает порт ${HOST_PORT} на сервере."
