name: CD - Docker Compose Deploy

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH and docker compose
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PROXY_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "===  deploy via docker compose ==="

            cd /home/vboxuser/myapp

            echo "--- Fetch latest code ---"
            git fetch origin
            git reset --hard origin/docker-lab4

            echo "--- Stop systemd ---"
            sudo -n systemctl stop myapp || true
            sudo -n systemctl disable myapp || true

            echo "--- Stop old docker containers (lab3) ---"
            docker stop myapp || true
            docker rm myapp || true

            echo "--- Login to GHCR ---"
            echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

            echo "--- Pull latest image ---"
            docker pull ghcr.io/vartanchik12/myapp:latest || true

            echo "--- Compose down ---"
            docker compose down || true

            echo "--- Compose up ---"
            docker compose up -d

            echo "--- Check containers ---"
            docker compose ps

            echo "--- Check app ---"
            curl -f http://localhost:8181 || echo "compose app unreachable on 8181"

            echo "=== deploy DONE ==="

